<div>
  <link href="./gallery-card2.css" rel="stylesheet" />
  <div class="gallery-card2-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1590779033100-9f60a05a013d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHZlZ2V0YWJsZXN8ZW58MHx8fHwxNjUzNzgwNjQ5&ixlib=rb-1.2.1&w=1500"
      class="gallery-card2-image"
    />
    <h2 class="gallery-card2-text"><span>Project Title</span></h2>
    <span class="gallery-card2-text1">
      <span>Lorem ipsum dolor sit amet</span>
    </span>
  </div>
</div>
